Host *
	ServerAliveInterval 300
	ServerAliveCountMax 2

Host kube-node-1
HostName 192.168.56.130
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-2
HostName 192.168.56.90
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-3
HostName 192.168.56.101
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-4
HostName 192.168.56.125
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-5
HostName 192.168.56.114
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-6
HostName 192.168.56.14
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-7
HostName 192.168.56.138
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-8
HostName 192.168.56.126
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-9
HostName 192.168.56.95
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-10
HostName 192.168.56.99
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-11
HostName 192.168.56.245
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-12
HostName 192.168.56.97
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-13
HostName 192.168.56.103
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-14
HostName 192.168.56.28
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-15
HostName 192.168.56.87
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-16
HostName 192.168.56.143
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-17
HostName 192.168.56.134
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-18
HostName 192.168.56.105
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-19
HostName 192.168.56.116
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-20
HostName 192.168.56.92
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-21
HostName 192.168.56.135
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-22
HostName 192.168.56.94
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-23
HostName 192.168.56.78
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-24
HostName 192.168.56.13
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-25
HostName 192.168.56.127
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-26
HostName 192.168.56.108
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-27
HostName 192.168.56.113
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-28
HostName 192.168.56.11
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-29
HostName 192.168.56.86
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-30
HostName 192.168.56.145
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-31
HostName 192.168.56.118
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-32
HostName 192.168.56.89
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-33
HostName 192.168.56.146
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-34
HostName 192.168.56.81
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-35
HostName 192.168.56.27
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-36
HostName 192.168.56.136
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-37
HostName 192.168.56.119
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-38
HostName 192.168.56.132
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-39
HostName 192.168.56.91
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-40
HostName 192.168.56.140
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-41
HostName 192.168.56.98
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-42
HostName 192.168.56.120
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-43
HostName 192.168.56.117
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-44
HostName 192.168.56.80
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-45
HostName 192.168.56.149
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-46
HostName 192.168.56.248
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-47
HostName 192.168.56.111
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-48
HostName 192.168.56.100
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-49
HostName 192.168.56.133
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-50
HostName 192.168.56.25
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-51
HostName 192.168.56.115
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-52
HostName 192.168.56.141
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-53
HostName 192.168.56.110
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-54
HostName 192.168.56.26
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-55
HostName 192.168.56.96
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-56
HostName 192.168.56.244
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-57
HostName 192.168.56.104
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-58
HostName 192.168.56.77
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-59
HostName 192.168.56.123
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-60
HostName 192.168.56.88
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-61
HostName 192.168.56.107
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-62
HostName 192.168.56.142
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-63
HostName 192.168.56.139
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-64
HostName 192.168.56.112
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-65
HostName 192.168.56.93
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-66
HostName 192.168.56.9
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-67
HostName 192.168.56.137
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-68
HostName 192.168.56.144
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-69
HostName 192.168.56.29
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-70
HostName 192.168.56.83
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-71
HostName 192.168.56.82
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-72
HostName 192.168.56.129
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-73
HostName 192.168.56.10
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-74
HostName 192.168.56.102
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-75
HostName 192.168.56.148
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-76
HostName 192.168.56.8
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-77
HostName 192.168.56.79
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-node-78
HostName 192.168.56.106
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-master-1
HostName 192.168.56.247
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-orchestra-1
HostName 192.168.56.249
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-gateway
HostName 192.168.56.85
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


