Host *
	ServerAliveInterval 300
	ServerAliveCountMax 2

Host kube-worker-1
HostName 192.168.56.140
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-2
HostName 192.168.56.66
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-3
HostName 192.168.56.116
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-4
HostName 192.168.56.14
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-5
HostName 192.168.56.67
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-6
HostName 192.168.56.139
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-7
HostName 192.168.56.52
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-8
HostName 192.168.56.71
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-9
HostName 192.168.56.53
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-10
HostName 192.168.56.137
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-11
HostName 192.168.56.143
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-12
HostName 192.168.56.74
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-13
HostName 192.168.56.57
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-14
HostName 192.168.56.146
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-15
HostName 192.168.56.135
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-16
HostName 192.168.56.141
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-17
HostName 192.168.56.42
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-18
HostName 192.168.56.64
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-19
HostName 192.168.56.133
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-20
HostName 192.168.56.113
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-21
HostName 192.168.56.31
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-22
HostName 192.168.56.75
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-23
HostName 192.168.56.34
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-24
HostName 192.168.56.5
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-25
HostName 192.168.56.56
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-26
HostName 192.168.56.45
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-27
HostName 192.168.56.68
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-28
HostName 192.168.56.37
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-29
HostName 192.168.56.130
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-30
HostName 192.168.56.36
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-31
HostName 192.168.56.120
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-32
HostName 192.168.56.54
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-33
HostName 192.168.56.115
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-34
HostName 192.168.56.58
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-35
HostName 192.168.56.62
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-36
HostName 192.168.56.41
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-37
HostName 192.168.56.138
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-38
HostName 192.168.56.35
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-39
HostName 192.168.56.49
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-40
HostName 192.168.56.61
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-41
HostName 192.168.56.55
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-42
HostName 192.168.56.117
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-43
HostName 192.168.56.33
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-44
HostName 192.168.56.132
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-45
HostName 192.168.56.136
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-46
HostName 192.168.56.43
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-47
HostName 192.168.56.73
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-48
HostName 192.168.56.46
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-49
HostName 192.168.56.48
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-50
HostName 192.168.56.126
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-51
HostName 192.168.56.129
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-52
HostName 192.168.56.13
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-53
HostName 192.168.56.142
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-54
HostName 192.168.56.123
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-55
HostName 192.168.56.144
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-56
HostName 192.168.56.110
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-57
HostName 192.168.56.51
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-58
HostName 192.168.56.118
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-59
HostName 192.168.56.145
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-60
HostName 192.168.56.148
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-61
HostName 192.168.56.149
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-62
HostName 192.168.56.38
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-63
HostName 192.168.56.4
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-64
HostName 192.168.56.114
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-65
HostName 192.168.56.119
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-66
HostName 192.168.56.39
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-67
HostName 192.168.56.6
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-68
HostName 192.168.56.70
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-69
HostName 192.168.56.47
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-70
HostName 192.168.56.127
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-71
HostName 192.168.56.59
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-72
HostName 192.168.56.7
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-73
HostName 192.168.56.112
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-74
HostName 192.168.56.125
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-75
HostName 192.168.56.69
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-76
HostName 192.168.56.134
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-77
HostName 192.168.56.60
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-worker-78
HostName 192.168.56.111
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-master-1
HostName 192.168.56.44
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-orchestra-1
HostName 192.168.56.32
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


Host kube-gateway
HostName 192.168.56.3
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_anf -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.154
IdentityFile ~/.ssh/id_rsa_anf
IdentitiesOnly yes
LogLevel FATAL


